.options {

    span {
        margin-left: 3px;
        color: rgba(0, 0, 0, 0.87);
    }

    img {
        margin-left: 5px;
        margin-bottom: -2px;
        width: 15px;
        cursor: pointer;
    }

    .explain {
        font-size: 12px;
        color: grey;
    }
}