.dumpbucket {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 992px){
        &-container {
            min-width: 300px;
            max-width: 1200px;
            width: 60%;
            margin: auto;
            padding: 30px 0;
        }
    }

    @media (max-width: 991px){
    &-container {
        min-width: 300px;
        max-width: 1200px;
        width: 90%;
        margin: auto;
        padding: 30px 0;
    }
}
}