#app {
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .arrowDown{
        position:fixed;
        z-index:99;
        cursor: pointer;
        width: 0;
        height: 0;
        border-style: solid;
        margin-left: -38px;
        left: 50%;
    }

    .arrowDown{
        bottom: 20px;
        border-width: 38.5px 34px 0 38.5px;
        border-color: #fff transparent transparent transparent;
    }
}

