.intro{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    p {
        color: gray;
        text-align: center;
        margin-bottom: 0;
    }

    p + p {
        margin-top: 0;
    }

    &-wrapper {
        width: 300px;
        flex: none;
    }

    &-title{
        width: 100%;
    }

    &-arrow {
        position: absolute;
        bottom: 0;
        width: 50px;
        margin-bottom: 30px;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.15s linear;
    }

    &-arrow:hover{
        background-color: rgba($color: #d4d4d4, $alpha: 0.4)
    }
}
